---
layout: default
---

<header class="home" style="min-height: 70px">
	<nav>
		<a class="menu-icon" href="{{site.baseurl}}subir-evento">
			<img src="{{site.baseurl}}/img/megafono.svg" width="50px" alt="">
		</a>
		<a class="logo" href="{{site.baseurl}}">
			<img src="{{site.baseurl}}/img/logo-agenda-comarcal.svg" width="50px" alt="">
		</a>
		<a href="" class="search-icon">
			<img src="{{site.baseurl}}/img/search-icon.svg" class="search-icon" width="30px" alt="">
		</a>
	</nav>
	<div class="main-title" style="display: none;">
		<img src="{{site.baseurl}}/img/flecha-arriba.svg" class="arrow arrow-search" width="30px" alt="">
		<h1>usa los filtros o busca con palabras claves</h1>
		<img src="{{site.baseurl}}/img/flecha-abajo.svg" class="arrow arrow-filter" width="20px" alt="">
	</div>
</header>
<div class="filters">
	<form class="controls" id="Filters">
	  <!-- We can add an unlimited number of "filter groups" using the following format: -->
		   <fieldset>
		    <h4>Lugares</h4>
		    <select>
		      <option value="">todes</option>
		      <option value=".lugar-1">el bolson</option>
		      <option value=".lugar-2">el hoyo</option>
		      <option value=".lugar-3">El Maiten</option>
		      <option value=".lugar-4">Cholila</option>
		      <option value=".lugar-5">lago puelo</option>
		      <option value=".lugar-6">las golondrinas</option>
		      <option value=".lugar-7">paraje entre rios</option>
		    </select>
		  </fieldset>
		  
		  <fieldset>
		    <h4>Eventos</h4>
		    <select>
		      <option value="">todxs</option>
		      <option value=".categoria-1">chicxs</option>
		      <option value=".categoria-2">danza</option>
		      <option value=".categoria-3">Arte público</option>
		      <option value=".categoria-4">teatro</option>
		      <option value=".categoria-5">literatura</option>
		      <option value=".categoria-6">musica</option>
		      <option value=".categoria-7">Festivales</option>
		    </select>
		  </fieldset>

		   <fieldset>
		    <h4>Horarios</h4>
		    <select>
		      <option value="">a toda hora</option>
		      <option value=".manana">mañana</option>
		      <option value=".tarde">tarde</option>
		      <option value=".noche">noche</option>
		    </select>
		  </fieldset>
		  
		  <button id="Reset">limpiar filtros</button>
	</form>

</div>
<div id="Container" class="container" style="font-family: 'Tahoma' ">
{% for agenda in site.data.agenda reversed %}
  <div class="mix lugar-{{ agenda.Lugar_Value | to_integer }} categoria-{{ agenda.Categoria_Value | to_integer}}">
	{{ agenda.Nombre }} <br>
	{{ agenda.Lugar }} <br>
	{{ agenda.Categoria }} <br>
	{{ agenda.Mail }} <br>
	{{ agenda.Gratis }} <br>
	${{ agenda.Precio }} <br>
	{{ agenda.Fecha }} <br>
	{{ agenda.Hora }} <br>
	{% if agenda.Web != '' %}
	<a href="{{ agenda.Web }}" target="_blank">Link al evento</a> 
	{% else %}
	
	{% endif %}
  </div>
{% endfor %}
{% include mixit-up.html %}
</div>