---
layout: default
---

<header class="home">
	<nav>
		<a class="menu-icon" href="{{site.baseurl}}subir-evento">
			<img src="{{site.baseurl}}/img/megafono.svg" width="50px" alt="">
		</a>
		<a class="logo" href="{{site.baseurl}}">
			<img src="{{site.baseurl}}/img/logo-agenda-comarcal.svg" width="50px" alt="">
		</a>
		<a href="" class="search-icon">
			<img src="{{site.baseurl}}/img/search-icon.svg" class="search-icon" width="30px" alt="">
		</a>
	</nav>
	<div class="main-title">
		<img src="{{site.baseurl}}/img/flecha-arriba.svg" class="arrow arrow-search" width="30px" alt="">
		<h1>usa los filtros o busca con palabras claves</h1>
		<img src="{{site.baseurl}}/img/flecha-abajo.svg" class="arrow arrow-filter" width="20px" alt="">
	</div>
</header>

<section class="home">
<div class="filters">
	<form class="controls" id="Filters">
	  <!-- We can add an unlimited number of "filter groups" using the following format: -->
		   <fieldset>
		    <h4>lugar</h4>
		    <select>
		      <option value="">todxs</option>
		      <option value=".bolson">el bolson</option>
		      <option value=".hoyo">el hoyo</option>
		      <option value=".cholila">cholila</option>
		      <option value=".puelo">lago puelo</option>
		      <option value=".golondrinas">las golondrinas</option>
		      <option value=".paraje">pje. entre rios</option>
		    </select>
		  </fieldset>
		  
		  <fieldset>
		    <h4>cuando</h4>
		    
		    <select>
		      <option value="">todos</option>
		      <option value=".next">esta semana</option>
		      <option value=".month">este mes</option>
		      <option value=".weekend">fin de semana</option>
		    </select>
		  </fieldset>

		   <fieldset>
		    <h4>horario</h4>
		    
		    <select>
		      <option value="">a toda hora</option>
		      <option value=".manana">mañana</option>
		      <option value=".tarde">tarde</option>
		      <option value=".noche">noche</option>
		    </select>
		  </fieldset>
		  
		  <button id="Reset">limpiar filtros</button>
	</form>

</div>



<div class="results">
<div id="Container" class="container">
  <div class="fail-message"><span>No hay proximos eventos con estos filtros</span> <br> <a href="{{site.baseurl}}subir-evento">crear evento</a></div>
  
  {% for post in site.posts %} 
  <div class="mix {{post.mxt-lugar}} {{post.mxt-horario}} {{post.mxt-cuando}}">
      <h1>
        <a class="header" href="{{site.baseurl}}{{post.url}}" style="color: #fff;">{{post.nombre}}</a>
      </h1>
      <h2>{{post.fecha}} - {{post.hora}}</h2>
      <h3>{{post.categoria}} en {{post.lugar}}</h3>
  </div>
  {% endfor %}
</div>
    
</div>

{% include mixit-up.html %}

</section>

