---
layout: default
---

<header class="home" style="min-height: 70px">
	<nav>
		
		<a class="logo" href="{{site.baseurl}}">
			<img src="{{site.baseurl}}/img/logo-agenda-comarcal.svg" width="50px" alt="">
		</a>
		<a class="menu-icon" href="{{site.baseurl}}subir-evento">
			<img src="{{site.baseurl}}/img/megafono.svg" width="50px" alt="">
		</a>
	</nav>
	<div class="main-title" style="display: none;">
		<img src="{{site.baseurl}}/img/flecha-arriba.svg" class="arrow arrow-search" width="30px" alt="">
		<h1>usa los filtros o busca con palabras claves</h1>
		<img src="{{site.baseurl}}/img/flecha-abajo.svg" class="arrow arrow-filter" width="20px" alt="">
	</div>
</header>

<section class="home">
<div class="filters">
    <div class="controls">
		
        <input type="text" class="input" data-ref="input-search" placeholder="busca por lugar, nombre, mes" style="
            display: block;width: 100%;padding: 12px;margin: 0;"/>
		<div class = "tabinator">
		  <input type = "radio" id = "tab1" name = "tabs" checked>
		  <label for = "tab1">Lugar</label>
		  <input type = "radio" id = "tab2" name = "tabs">
		  <label for = "tab2">Categoria</label>
		  <div id = "content1">
			<button type="button" class="control ui button green" data-filter=".lugar-1">bolson</button>
			<button type="button" class="control ui button green" data-filter=".lugar-2">hoyo</button>
			<button type="button" class="control ui button green" data-filter=".lugar-3">maiten</button>
			<button type="button" class="control ui button green" data-filter=".lugar-4">cholila</button> <br>
			<button type="button" class="control ui button green" data-sort="published-date:asc">ene - dic</button>
			<button type="button" class="control ui button green" data-sort="published-date:desc">dic - ene</button>
		  </div>
		  <div id = "content2">
			<button type="button" class="control ui button green" data-filter=".categoria-1">chicxs</button>
			<button type="button" class="control ui button green" data-filter=".categoria-2">danza</button>
			<button type="button" class="control ui button green" data-filter=".categoria-3">arte publico</button> <br>
			<button type="button" class="control ui button green" data-sort="published-date:asc">ene - dic</button>
			<button type="button" class="control ui button green" data-sort="published-date:desc">dic - ene</button>
		  </div>
		</div>
		<button type="button" class="control  ui button green" data-filter="all">Limpiar filtros</button>

	</div>
</div>

<div class="results">
<b style="font-size: 20px;">Total de eventos {{ site.data.agenda | size }}</b>
<div class="container" data-ref="container">
  <div class="fail-message"><span>No hay proximos eventos con estos filtros</span> <br> <a href="{{site.baseurl}}subir-evento">crear evento</a></div>
  
{% for agenda in site.data.agenda %}
  <div class="mix lugar-{{ agenda.localidad_value | to_integer }} categoria-{{ agenda.categoria_value | to_integer}} precio-{{ agenda.evento-gratis }} {{ agenda.evento-nombre | slugify }} {{ agenda.evento-fecha | slugify }} {{ agenda.localidad | slugify }} publicado-{{ agenda.publicado }} dia-{{ agenda.evento-order-date }}" data-published-date="{{ agenda.evento-order-date }}" >
	<h2 style="margin: 0;">{{ agenda.evento-nombre }}</h2>
	{{ agenda.categoria }} en {{ agenda.localidad }} <br>
	{% if agenda.nombre-lugar %}
		{{ agenda.nombre-lugar }} <br>
	{% endif %}
	{% if agenda.evento-gratis %}
		entrada gratuita <br>
	{% else %}
		Valor de la entrada
		${{ agenda.evento-precio }} <br>
	{% endif %}
	{{ agenda.evento-fecha }} <br>
	a las {{ agenda.evento-hora}} <br>
	{% if agenda.evento-web %}
	<a style="color: #fff;" href="{{ agenda.evento-web }}" target="_blank">Link al evento</a> 
	{% else %}
	
	{% endif %}

  </div>
{% endfor %}
</div>


</div>



{% include mixit-up.html %}

</section>

