@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700');


@import 'plugins/bourbon/bourbon';
@import 'plugins/neat/neat';
@import 'plugins/buttons';
@import 'plugins/mixitup';

$mobile: new-breakpoint(max-width 880px 4);


* {
	outline: 0 none;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Amatic SC', cursive;
}

header {
	background: #951556;
	text-align: center;
	min-height: 180px;
	display: flex;
	flex-direction: column;

	&.home {
		@include media($mobile) {
			min-height: 70px;

			h1 {
				display: none;
			}
		}
	}

	nav {
		position: fixed;
		left: 0;
		right: 0;
		height: 70px;
		display: flex;
		z-index: 1;
		align-items: center;
		justify-content: space-between;
		padding: 0 30px;
	    background: #951556;
	}

	.logo {
		position: relative;
		left: -10px;
	}

	.search-icon {

	}

	.main-title {
		color: #fff;
		flex: 1;
		position: relative;
		align-items: center;
		display: flex;
		justify-content: center;

		h1 {
			margin: 0;
			font-size: 40px;
			font-weight: 400;
			padding: 35px 25px 0;
		}
	}

	.arrow {
		position: absolute;
		opacity: .25;

		&.arrow-search {
			right: 30px;
		    top: 70px;
		}

		&.arrow-filter {
			left: 30px;
			bottom: 10px;
		}
	}

	
	&.post {
	    min-height: 380px;

		.main-title {
			flex-direction: column;
		}

		h1, h2, h3 {
			margin: 0;
		}

		h1 {
			font-size: 50px;
		}

		h2 {
			font-size: 45px;
		}

		h3 {
			font-size: 40px;
			font-weight: 700;
		}



	}

}



.filters {
    text-align: center;
    padding: 0;
    width: 100%;
    margin: 0 auto;

    .controls {
    	/* display: flex; */
    	/* flex-wrap: wrap; */
    	padding: 1em 0;
    	position: relative;
    	/* max-width: 800px; */
    	/* margin: 0 auto; */
    	/* align-items: flex-start; */
    }

	.reset-filter {
		position: absolute;
		right: 10px;
		bottom: 20px;
		background: #951556;
		font-weight: 600;
		color: #fff;
	}

    fieldset {
    	border: none;
    	width: 100%;
    	margin: 0;
    	padding: 0 3%;
    	height: 90px;
    }

	.dropdown {
		width: 23%;
		margin: 2% 1%;
	}

	h4 {
		font-size: 25px;
		display: block;
		margin: 0;
		margin-bottom: 5px;
		text-align: left;

	}

    select {
    	font-family: 'Amatic SC', cursive;
    	font-size: 26px;
    	width: 100%;
    	font-weight: 700;

    	option {
    		font-weight: 700;
    	}
    }

}

.results {
	
	.container {
		display: flex;
		flex-wrap: wrap;
	}

	h1 {
		text-align: center;
		min-height: 100px;
		border-bottom: 1px solid #a5306b;
		padding: 0 10px 10px 10px;
	}

	.mix {
		width: 31%;
		margin: 1%;
		padding: 1% 0;
		min-height: 250px;

		&:hover {
			
		}

		@include media($mobile) {
		width: 100%;
		}
	}
}

section {


	.filters {
		width: 250px;
		background: #f9f9f9;
		position: fixed;
		left: 0;
	    top: 70px;
		bottom: 0;

		@include media($mobile) {
			position: relative;
			top: 0;
			left: 0;
			width: 100%;
		}

		fieldset {


			@include media($mobile) {
			width: 33%;
			padding: 0 1%;
			}
		}

		.controls {
		    height: 100%;
		    display: block;
		    flex-wrap: wrap;
		    padding: 1em 0 4em 0;
		    position: relative;

		    @include media($mobile) {
		    display: flex;
		    }
		}
	}

	.results {
		width: 100%;
		padding-left: 250px;

		@include media($mobile) {
			width: 100%;
			padding: 0;
		}
	}
}


.cognito {
    max-width: 600px;
    margin: 0 auto;
    padding: 5px 15px;

    .c-field {
        padding: 13px 0;
    }

    .bootstrap-timepicker, .c-editor-date {
    	width: 80% !important;
    }

	form + div {
	  
		a {
			position: fixed;
			bottom: -150px;
			cursor: none;
		}
	}
}

article.post {

	 max-width: 800px;
    margin: 0 auto;
    padding-top: 30px;

	p {
	    font-size: 50px;
	}

}

.spinner {
    width: 40px;
    height: 40px;
    position: absolute;
    margin: 100px auto;
    top: 120px;
    left: 0;
    right: 0;
    z-index: -1;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #951556;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}