<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Una Agenda Comarcal</title>
	<link rel="stylesheet" href="{{site.baseurl}}/style.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/mixitup/2.1.11/jquery.mixitup.js"></script>
	<link rel="apple-touch-icon" sizes="180x180" href="https://lavecinal.github.io/agenda-comarcal/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="https://lavecinal.github.io/agenda-comarcal/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="https://lavecinal.github.io/agenda-comarcal/favicon-16x16.png">
	<link rel="manifest" href="https://lavecinal.github.io/agenda-comarcal/site.webmanifest">
	<link rel="mask-icon" href="https://lavecinal.github.io/agenda-comarcal/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="https://lavecinal.github.io/agenda-comarcal/favicon.ico">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-config" content="https://lavecinal.github.io/agenda-comarcal/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
</head>
<body>

{{content}}

</body>
</html>