---
layout: default
---

<header class="post">
	<nav>
		<a class="menu-icon" href="{{site.baseurl}}subir-evento">
			<img src="{{site.baseurl}}/img/megafono.svg" width="50px" alt="">
		</a>
		<a class="logo" href="{{site.baseurl}}">
			<img src="{{site.baseurl}}/img/logo-agenda-comarcal.svg" width="50px" alt="">
		</a>
		<a href="" class="search-icon">
			<img src="{{site.baseurl}}/img/search-icon.svg" class="search-icon" width="30px" alt="">
		</a>
	</nav>
	<div class="main-title">
		<h1>{{page.nombre}}</h1>
		<h2>{{page.fecha}} - {{page.hora}}</h2>
		<h3>{{page.categoria}} en {{page.lugar}}</h3>
	</div>
</header>

<article class="post">
	{{content}}
</article>