---
layout: default
---

<header class="post">
	<nav>
		
		<a class="logo" href="{{site.baseurl}}">
			<img src="{{site.baseurl}}/img/logo-agenda-comarcal.svg" width="50px" alt="">
		</a>
		<a class="menu-icon" href="{{site.baseurl}}subir-evento">
			<img src="{{site.baseurl}}/img/megafono.svg" width="50px" alt="">
		</a>
	</nav>
	<div class="main-title">
		<h1>{{page.nombre}}</h1>
		<h2>{{page.fecha}} - {{page.hora}}</h2>
		<h3>{{page.categoria}} en {{page.lugar}}</h3>
	</div>
</header>

<article class="post">
	{{content}}
</article>

<div id="archives">
{% for category in site.categories %}
  <div class="archive-group">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}"></div>
    <p></p>
    
    <h3 class="category-head">{{ category_name }}</h3>
    <a name="{{ category_name | slugize }}"></a>
    {% for post in site.categories[category_name] %}
    <article class="archive-item">
      <h4><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h4>
    </article>
    {% endfor %}
  </div>
{% endfor %}
</div>